@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    /* 设置背景图片 */
    background: url(../images/login_bg.jpg) #f8f6e9;
    overflow-x: hidden;
}

.mainContainer {
    color: seashell;
}