<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <title>导航</title>
</head>
<body>

<h2>
    你好！[[${admin.username}]]
</h2>
<hr>
<h1><a th:href="@{/login}" target="_blank">登录页</a></h1>
<h1><a th:href="@{/test/checkIn}" target="_blank">值机信息录入</a></h1>
<h1><a th:href="@{/registration}" target="_blank">次日航班信息录入</a></h1>
<h1><a th:href="@{/test/clean}" target="_blank">清洁</a></h1>
<h1><a th:href="@{/test/freight}" target="_blank">货运信息录入</a></h1>
<h1><a th:href="@{/test/baggage}" target="_blank">行查信息录入</a></h1>

<h1><a th:href="@{/test/integratedService}" target="_blank">综合服务信息录入</a></h1>
<h1><a th:href="@{/test/standCar}" target="_blank">站坪车辆信息录入</a></h1>
</body>
</html>