<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>导航</title>
</head>
<body>
<h1><a href="./index.html" target="_blank">登录页</a></h1>
<h1><a href="./checkIn.html" target="_blank">值机信息录入</a></h1>
<h1><a href="./registration.html" target="_blank">次日航班信息录入</a></h1>
<h1><a href="./clean.html" target="_blank">清洁</a></h1>
<h1><a href="./freight.html" target="_blank">货运信息录入</a></h1>
<h1><a href="./baggage.html" target="_blank">行查信息录入</a></h1>

<h1><a href="./integratedService.html" target="_blank">综合服务信息录入</a></h1>
<h1><a href="./standCar.html" target="_blank">站坪车辆信息录入</a></h1>
</body>
</html>